# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
src/utils/urlUtil.js
auth/authtoken.http
auth/driveslist.http
auth/queries.http
auth/server.js
.env
AmplifyCaresTeamsApp/app-package.zip
AmplifyCaresTeamsApp/.eslintignore
AmplifyCaresTeamsApp/.eslintrc.json
AmplifyCaresTeamsApp/.gitignore
AmplifyCaresTeamsApp/.yo-rc.json
AmplifyCaresTeamsApp/Dockerfile
AmplifyCaresTeamsApp/gulpfile.js
AmplifyCaresTeamsApp/package.json
AmplifyCaresTeamsApp/README.md
AmplifyCaresTeamsApp/teamsapp.local.yml
AmplifyCaresTeamsApp/teamsapp.yml
AmplifyCaresTeamsApp/webpack.config.js
AmplifyCaresTeamsApp/.vscode/launch.json
AmplifyCaresTeamsApp/.vscode/settings.json
AmplifyCaresTeamsApp/.vscode/tasks.json
AmplifyCaresTeamsApp/AmplifyCares/.yo-rc.json
AmplifyCaresTeamsApp/appPackage/manifest.json
AmplifyCaresTeamsApp/appPackage/resources/color.png
AmplifyCaresTeamsApp/appPackage/resources/outline.png
AmplifyCaresTeamsApp/env/.env.dev
AmplifyCaresTeamsApp/env/.env.local.user
AmplifyCaresTeamsApp/src/client/.eslintrc.json
AmplifyCaresTeamsApp/src/client/client.ts
AmplifyCaresTeamsApp/src/client/tsconfig.json
AmplifyCaresTeamsApp/src/client/amplifyCaresTab/AmplifyCaresTab.tsx
AmplifyCaresTeamsApp/src/manifest/icon-color.png
AmplifyCaresTeamsApp/src/manifest/icon-outline.png
AmplifyCaresTeamsApp/src/manifest/manifest.json
AmplifyCaresTeamsApp/src/public/index.html
AmplifyCaresTeamsApp/src/public/privacy.html
AmplifyCaresTeamsApp/src/public/tou.html
AmplifyCaresTeamsApp/src/public/amplifyCaresTab/index.html
AmplifyCaresTeamsApp/src/public/assets/icon.png
AmplifyCaresTeamsApp/src/public/styles/main.scss
AmplifyCaresTeamsApp/src/server/.eslintrc.json
AmplifyCaresTeamsApp/src/server/server.ts
AmplifyCaresTeamsApp/src/server/TeamsAppsComponents.ts
AmplifyCaresTeamsApp/src/server/tsconfig.json
AmplifyCaresTeamsApp/src/server/amplifyCaresTab/AmplifyCaresTab.ts
AmplifyCaresTeamsApp/tabs/.env.teamsfx.local
AmplifyCaresTeamsApp/tabs/.gitignore
AmplifyCaresTeamsApp/tabs/package.json
AmplifyCaresTeamsApp/tabs/README.md
AmplifyCaresTeamsApp/tabs/public/deploy.png
AmplifyCaresTeamsApp/tabs/public/favicon.ico
AmplifyCaresTeamsApp/tabs/public/hello.png
AmplifyCaresTeamsApp/tabs/public/index.html
AmplifyCaresTeamsApp/tabs/public/publish.png
AmplifyCaresTeamsApp/tabs/src/index.css
AmplifyCaresTeamsApp/tabs/src/index.jsx
AmplifyCaresTeamsApp/tabs/src/components/App.css
AmplifyCaresTeamsApp/tabs/src/components/App.jsx
AmplifyCaresTeamsApp/tabs/src/components/Privacy.jsx
AmplifyCaresTeamsApp/tabs/src/components/Tab.jsx
AmplifyCaresTeamsApp/tabs/src/components/TabConfig.jsx
AmplifyCaresTeamsApp/tabs/src/components/TermsOfUse.jsx
AmplifyCaresTeamsApp/tabs/src/components/sample/AddSSO.jsx
AmplifyCaresTeamsApp/tabs/src/components/sample/Deploy.css
AmplifyCaresTeamsApp/tabs/src/components/sample/Deploy.jsx
AmplifyCaresTeamsApp/tabs/src/components/sample/EditCode.jsx
AmplifyCaresTeamsApp/tabs/src/components/sample/Publish.css
AmplifyCaresTeamsApp/tabs/src/components/sample/Publish.jsx
AmplifyCaresTeamsApp/tabs/src/components/sample/Welcome.css
AmplifyCaresTeamsApp/tabs/src/components/sample/Welcome.jsx
AmplifyCaresTeamsApp/templates/azure/azure.parameters.dev.json
AmplifyCaresTeamsApp/templates/azure/config.bicep
AmplifyCaresTeamsApp/templates/azure/main.bicep
AmplifyCaresTeamsApp/templates/azure/provision.bicep
AmplifyCaresTeamsApp/templates/azure/provision/azureStorageTab.bicep
AmplifyCaresTeamsApp/templates/azure/provision/identity.bicep
src/utils/urlUtil.js
src/utils/urlUtil.js
src/.env
