.recommendations-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-height: calc(100vh - 100px); /* Adjust the height as needed */
    overflow-y: auto;
  }
  
  .emptydiv {
    flex: 0 0 0; /* flex-grow: 0; flex-shrink: 0; flex-basis: 0; */
  }

/* Style the filter section */
.filter-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Adjust the gap between filter options */
  margin-bottom: 20px; /* Add spacing between filters and recommendation tiles */
}

/* Style the filter icons */
.filter-icon {
  width: 50px; /* Set the width of the filter icons */
  height: 50px; 
  margin-right: 5px; /* Add spacing between icon and label */
}

/* Style the radio labels for better UX */
.filter-section label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Add this CSS to style the icon container */
.icon {
  flex: 1;
  width: 20%; 
  /*height: 100%;*/
  margin-right: 10px; 
  display: flex;
  align-items: center;
}

/* Style the icon image within the container */
.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Adjust the object-fit property as needed */
}

/* Adjust the margin for spacing between the icon and the recommendation title */
.title {
  margin-left: 10px; /* Adjust the margin as needed */
  margin-right: 20px;
  font-size: 18px;
  margin-bottom: 5px;
}

.URL {
  flex: 3;  
}
  
.recommendation-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    /*width: 80%;*/
    border: 1px solid #ccc;
    outline: 1px solid #000; /* Add an outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a box shadow */
    z-index: 1;
}

/* Add this to your CSS file */
.participants-badge {
  position: relative;
  top: -30px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  background-color: blueviolet; /* Red background color */
  color: white; /* White text color */
  padding: 2px 6px; /* Padding */
  border-radius: 50%; /* Circle shape */
  font-size: 10px; /* Font size */
}

/* Add this to your CSS file */
.join-button {
  background-color: #4caf50; /* Green background color */
  border: none;
  color: white; /* White text color */
  padding: 5px 10px; /* Padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth color transition */
}

.join-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.leave-button {
  background-color: rgb(164, 8, 8); /* Green background color */
  border: none;
  color: white; /* White text color */
  padding: 5px 10px; /* Padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth color transition */
}

.leave-button:hover {
  background-color: red; /* Darker green on hover */
}

.add-recommendation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    z-index: 9999;
}


.radio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}

.radio-label {
  margin-right: 10px;
}

.icon-container {
  position: relative;
}

.tooltip {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.newreco-icon {
  width: 30px; /* Set the width of the filter icons */
  height: 30px; 
  margin-right: 2px; /* Add spacing between icon and label */  
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.save-button, .cancel-button {
  /*background-color: white;*/
  color: black;
  border-color: black;
  /*padding: 2px;*/
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .radio-buttons {
    flex-direction: column;
  }

  .radio-label {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .input-field {
    width: 100%;
    margin-bottom: 10px;
  }
}

.contributor {
    flex: 2;
    font-size: 14px;
    margin-bottom: 5px;
}

.URL {
    font-size: 14px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.URL:hover {
    text-decoration: none;
}

.preview {
    margin-bottom: 10px;
}

.preview iframe {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
}

.preview img {
    width: 100%;
    max-height: 100px;
}
