/* Style for the mic icon container */
.mic-icon {
    width: 150px;
    cursor: pointer;
    margin: 0px; /* Adjust the margin as needed */
  }
  
  /* Style for the mic icon */
  .mic-icon svg {
    transition: color 0.2s ease-in-out; /* Add a color transition effect */
  }
  
  /* Style for the countdown timer */
  .countdown-timer {
    font-size: 12px; /* Adjust the font size as needed */
    color: green; /* Set the text color */
  }
  
  .countdown-timer.red {
    /* Set the text color to red */
    color: red;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-right: 8px; /* Adjust margin as needed */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  
  
  