.vector-1-K78 {
    border-radius
    : 
    0.1rem;
    flex-shrink
    : 
    0;
    height
    : 
    1.2rem;
    margin-right
    : 
    1.1rem;
    object-fit
    : 
    contain;
    vertical-align
    : 
    top;
    width
    : 
    1.2rem;
    }